@media (max-width: 900px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 250px;
        background: var(--bg-white);
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 60px;
        transition: right 0.4s ease;
        z-index: 1001;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        right: 0;
    }

    .nav-item {
        width: 100%;
        text-align: left;
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }

    #close-menu-btn {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--text-dark);
        transition: 0.3s;
    }

    #close-menu-btn:hover {
        color: var(--primary-color);
    }

   .search-container {
        width: 140px; /* Smaller width for tablets/mobile */
    }
    
    .search-container:focus-within {
        width: 180px; /* Expand slightly less on mobile */
    }
    
    /* Ensure the input text inside doesn't overflow */
    .search-input {
        width: 100%; 
        min-width: 0; /* Critical for flex items to shrink properly */
    }

    .dropdown-menu {
        z-index: 1002;
    }

    .slider-btn {
        width: 40px;
        height: 40px;
    }

    .prev-btn {
        left: 10px;
    }

    .next-btn {
        right: 10px;
    }
}



@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }

    .feature-card {
        padding: 30px 20px;
    }

    .dot {
        width: 7px;
        height: 7px;
    }

    .slider-btn {
        width: 35px;
        height: 35px;
    }

    .section-header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .showcase-section h1 {
        font-size: 30px;
    }

    .section-header .section-title {
        text-align: center;
    }

    .nav-btn {
        display: none;
    }

    .product-card {
        flex: 0 0 220px;
    }

    .card-image-wrapper {
        height: 250px;
    }

}

@media (max-width: 550px) {
    .cart-sidebar {
        width: 85%;
    }

    .section-title h2 {
        font-size: 1.35rem;
    }

    .section-title p {
        font-size: 0.65rem;
    }

    .view-all-link {
        font-size: 0.6rem;
    }

    .modal-image-container{
        width: 50vw;
    }

    .product-section-header {
        flex-direction: column;
        align-items: flex-start; 
        gap: 10px;
    }
    
    .product-section-header .view-all-link {
        align-self: flex-start; 
        width: auto;            
        justify-content: flex-start; 
    }

}